@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
body {
  background-color: rgb(45, 73, 159);
  color: white;
  font-family: "Arimo", 'Courier New', Courier;
}
h1 {
  color: maroon;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
}

p {
  color: rgba(255, 255, 255, 0.88);
}

section {
    margin-top: 65px;
    margin-bottom: 75px;
    margin-right: 75px;
    margin-left: 10px;

    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 30px;
}

#About img{
    margin-top: 2px;
    margin-bottom: 7px;
    margin-right: 10px;
    margin-left: 10px;
    max-width: 150px;
    border-radius: 10%;
    border: 4px solid #3498db;
}

#About {
    text-align: center;
}

#Experience{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

#Experience ul{
  list-style: none;
}

#Experience li{
  display: grid;
}

#Connect a {
  color: #3498db; /* Blue links */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Bold text */
  display: inline-block; /* Make them block level for spacing */
  margin-bottom: 10px; /* Space between links */
}

#Connect a:hover {
  color: #2980b9; /* Darker blue on hover */
  text-decoration: underline; /* Underline on hover */
}